<h1>Update new product</h1>
<form [formGroup]="productForm" (ngSubmit)="updateInfoProduct()">
  <table>
    <tr>
      <td>Product Id</td>
      <td><input type="number" formControlName="id"></td>
    </tr>
    <tr>
      <td>Product Name</td>
      <td><input type="text" formControlName="name"></td>
    </tr>
    <tr>
      <td>Product Price</td>
      <td><input type="number" formControlName="price"></td>
    </tr>
    <tr>
      <td>Product Description</td>
      <td><input type="text" formControlName="description"></td>
    </tr>
    <tr>
      <td>Product Category</td>
      <td><select id="category" class="form-select" formControlName="category" [compareWith]="compareWithId">
        <!--            <option selected value="" disabled>Chọn danh mục sản phẩm</option>-->
        <option *ngFor="let category of categories" [ngValue]="category">{{category.name}}</option>
      </select></td>
    </tr>
    <tr>
      <td></td>
      <td><button>Update</button></td>
    </tr>
  </table>
</form>
