<h1>Create new product</h1>
<form [formGroup]="productForm" (ngSubmit)="submit()">
  <table>
    <tr>
      <td>Product Id</td>
      <td><input type="number" formControlName="id"></td>
    </tr>
    <tr>
      <td>Product Name</td>
      <td><input type="text" formControlName="name"></td>
    </tr>
    <tr>
      <td>Product Price</td>
      <td><input type="number" formControlName="price"></td>
    </tr>
    <tr>
      <td>Product Description</td>
      <td><input type="text" formControlName="description"></td>
    </tr>
    <tr>
      <td></td>
      <td><button>Create</button></td>
    </tr>
  </table>
</form>
