
<div class="container pt-5">
  <h2 class="feature tte-heading fw-normal lh-1 pb-3"
      style="font-size: 30px;color: #cbbe73;line-height: 36px;text-align: center;font-family:Playfair Display;font-weight:700;font-style:normal">
    Lets check our services <span class="text-muted"></span></h2>
  <div class="">
    <p style="font-size: 14px;color: black;line-height: 22px;text-align: center;font-family:Open Sans;font-weight:300;font-style:normal" >
      All 198 rooms & suites have polished timber floors, natural fabrics, comfortable cane furniture, plantation style shutters and ceiling fans. Each room also has its own balcony or spacious terrace providing complete privacy and with a superb view of the ocean, the tropical garden or the freshwater swimming lagoon pool.
    </p>
  </div>
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
    <div class="col">
      <div class="card shadow-sm">
        <!--                <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="https://flamingoresorts.vn/sites/default/files/2021-04/02_bedroom_executive_residence_ocean_view_3_0.jpg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>-->
        <img class="bd-placeholder-img card-img-top" width="100%" height="225" src="https://flamingoresorts.vn/sites/default/files/2021-04/02_bedroom_executive_residence_ocean_view_3_0.jpg">
        <div class="card-body">
          <p class="card-text">Villa Beach Front</p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <button type="button" class="btn btn-sm btn-outline-secondary">Delete</button>
              <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
            </div>
            <small class="text-muted">9 mins</small>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card shadow-sm">
        <!--                <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>-->
        <img class="bd-placeholder-img card-img-top" width="100%" height="225" src="https://flamingoresorts.vn/sites/default/files/2021-04/flamingo_cat_ba_resort_executive_moutain_2.jpg">
        <div class="card-body">
          <p class="card-text">House Princess 01</p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <button type="button" class="btn btn-sm btn-outline-secondary">Delete</button>
              <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
            </div>
            <small class="text-muted">9 mins</small>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card shadow-sm">
        <!--                <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>-->
        <img class="bd-placeholder-img card-img-top" width="100%" height="225" src="https://flamingoresorts.vn/sites/default/files/2021-04/01_bedroom_deluxe_residence_ocean_view_1_0.jpg">
        <div class="card-body">
          <p class="card-text">Room Twin 01</p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <button type="button" class="btn btn-sm btn-outline-secondary">Delete</button>
              <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
            </div>
            <small class="text-muted">9 mins</small>
          </div>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card shadow-sm">
        <!--                <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>-->
        <img class="bd-placeholder-img card-img-top" width="100%" height="225" src="https://flamingoresorts.vn/sites/default/files/2020-08/dsc01388_0.jpg">
        <div class="card-body">
          <p class="card-text">Villa No Beach Front</p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <button type="button" class="btn btn-sm btn-outline-secondary">Delete</button>
              <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
            </div>
            <small class="text-muted">9 mins</small>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card shadow-sm">
        <!--                <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>-->
        <img class="bd-placeholder-img card-img-top" width="100%" height="225" src="https://flamingoresorts.vn/sites/default/files/2021-04/01_bedroom_deluxe_residence_ocean_view_2_0.jpg">
        <div class="card-body">
          <p class="card-text">House Princess 02</p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <button type="button" class="btn btn-sm btn-outline-secondary">Delete</button>
              <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
            </div>
            <small class="text-muted">9 mins</small>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card shadow-sm">
        <!--                <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>-->
        <img class="bd-placeholder-img card-img-top" width="100%" height="225" src="https://flamingoresorts.vn/sites/default/files/2020-08/dsc01329_0.jpg">
        <div class="card-body">
          <p class="card-text">Room Twin 02</p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <button type="button" class="btn btn-sm btn-outline-secondary">Delete</button>
              <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
            </div>
            <small class="text-muted">9 mins</small>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
