<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Customer List</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">

</head>
<body>
<nav th:replace="~{home::navbar1}"></nav>
<!--Table-->
<div class="container-fluid align-content-center" id="content">
    <div class="row mt-5 mb-5" >
        <div class="col-3">
            <div class="container-fluid m-auto">
                <a href="/customers/create" class="btn btn-success">Create new Customer</a>
            </div>
        </div>
        <div class="col-6 text-center">
            <h2>Customer List</h2>
        </div>
        <div class="col-3">
            <form class="d-flex w-100 " method="get" th:action="@{/customers/list}">
                <input type="hidden" name="action" value="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="searchParam"  id="inputSearch" th:value="${searchParam}">
                <button class="btn btn-outline-success" type="submit" id="btnSearch">Search</button>
            </form>
        </div>
    </div>

    <table class="table table-hover text-center" id="myTable">
        <thead>
        <tr class="table-info">
            <td>No.</td>
            <td>Customer Type</td>
            <td>Name</td>
            <td>Day of Birth</td>
            <td>Gender</td>
            <td>ID Card</td>
            <td>Phone Number</td>
            <td>Email</td>
            <td>Address</td>
            <td>Edit</td>
            <td>Delete</td>
        </tr>
        </thead>
        <tbody>
            <tr th:each="customer, status: ${customerList.content}">
                <td th:text="${status.count}"></td>
                <td th:text="${customer.customerType.customer_type}"></td>
                <td th:text="${customer.name}"></td>
                <td th:text="${customer.dateOfBirth}"></td>
                <td th:if="${customer.gender}==0" th:text="Female"></td>
                <td th:if="${customer.gender}==1" th:text="Male"></td>
                <td th:text="${customer.idCard}"></td>
                <td th:text="${customer.phoneNumber}"></td>
                <td th:text="${customer.email}"></td>
                <td th:text="${customer.address}"></td>
                <td><a class="btn btn-outline-warning" th:href="@{/customers/showEdit(id=${customer.id})}">
                    edit
                </a></td>
                <td>
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal"
                            data-bs-target="#staticBackdropDelete" th:onclick="'showInfoDelete('+${customer.id}+')'">
                        Delete
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
    <!-- Modal -->
    <div class="modal fade" id="staticBackdropDelete" data-bs-backdrop="static"
         data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <form th:action="@{/customers/delete}" method="post" id="formDelete">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="staticBackdropLabel">Are you sure to delete? </h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <input type="text" id="deleteId" hidden name="IdCustomer">
                        <span>Are you sure to delete? </span> <span id="deleteName"></span>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">NO</button>
                        <button type="submit" class="btn btn-primary">YES</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<nav aria-label="..." class="d-flex justify-content-center">
    <ul class="pagination">
        <li class="page-item">
            <a class="page-link" th:href="@{/customers/list(page=${customerList.number - 1})}" id="aPrevious">Previous</a>
        </li>
        <li class="page-item disabled">
            <a class="page-link" id="pageNumber">
                <span th:text="${customerList.number + 1}"></span>
                /
                <span th:text="${customerList.totalPages}"></span>
            </a>
        </li>
        <li class="page-item">
            <a class="page-link" th:href="@{/customers/list(page=${customerList.number + 1} )}" id="aNext">Next</a>
        </li>
    </ul>
</nav>
<!--Table-->
<!--<form action="/customers/delete" method="post" id="formDelete">-->
<!--    <input type="hidden" id="idInput" name="id">-->
<!--</form>-->
<script>
    // function setIdToFormDelete(id) {
    //     document.getElementById("deleteId").value = id;
    // }
    // function submitFormDelete() {
    //     document.getElementById("formDelete").submit();
    // }
    function showInfoDelete(id) {
        console.log(id);
        document.getElementById("deleteId").value = id;
    }
</script>
<footer th:replace="home :: footer"></footer>
<script src="/js/bootstrap.js"></script>
</body>
</html>