<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
</head>
<body>
<nav th:fragment="header" class="navbar navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Danh sách</a>
        <form class="d-flex" action="/search" method="get">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="search">
            <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
    </div>
</nav>
<link th:fragment="css" rel="stylesheet" href="css/bootstrap.min.css">
<script th:fragment="js" src="js/bootstrap.js" ></script>
</body>
</html>