<h1>Product List </h1>
<table>
  <tr>
    <td>STT</td>
    <td>Name</td>
    <td>Price</td>
    <td>Description</td>
    <td>Category</td>
    <td>Update</td>
  </tr>
  <tr *ngFor="let pr of products; index as i">
    <td>{{i+1}}</td>
    <td>{{pr.name}}</td>
    <td>{{pr.price}}</td>
    <td>{{pr.description}}</td>
    <td>{{pr.category.name}}</td>
    <td>
      <a [routerLink]="['/product/edit',pr.id]">Update</a>
      <a routerLink="/product/edit/{{pr.id}}">Update</a>
    </td>
    <td>
      <a [routerLink]="['/product/delete',
      pr.id]">Delete</a>
    </td>
  </tr>
</table>
