<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Contract</title>
  <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>
<body>
<nav th:replace="~{home::navbar1}"></nav>
<nav th:replace="~{home :: navbar2}"></nav>

<div class="container-fluid align-content-center" id="content">
    <div class="container-fluid m-auto text-center p-5">
        <a href="/facilities/create" class="btn btn-success">Create new Contract</a>
    </div>
    <form class="d-flex w-25 float-end" method="get" th:action="@{/facilities/list}">
        <input type="hidden" name="action" value="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="searchParam"  id="inputSearch" >
        <button class="btn btn-outline-success" type="submit" id="btnSearch">Search</button>
    </form>
    <table class="table table-hover text-center" id="myTable">
        <thead>
        <tr class="table-info">
            <td>No.</td>
            <td>Start Date</td>
            <td>End Date</td>
            <td>Deposit</td>
            <td>Employee</td>
            <td>Customer</td>
            <td>Facility</td>
            <td>Total</td>
            <td colspan="2">Attach Service</td>
        </tr>
        </thead>
        <tbody>
        <tr th:each="contract, status: ${contractList.content}">
            <td th:text="${status.count +5*contractList.number}"></td>
            <td th:text="${contract.startDate}"></td>
            <td th:text="${contract.endDate}"></td>
            <td th:text="${#numbers.formatCurrency(contract.deposit)}"></td>
            <td th:text="${contract.employee.name}"></td>
            <td th:text="${contract.customer.name}"></td>
            <td th:text="${contract.facility.name}"></td>
            <td th:text="${#numbers.formatCurrency(contract.totalMoney)}"></td>
            <td><a class="btn btn-outline-warning" th:href="@{/contracts/list(id=${contract.id})}">
                +
            </a></td>
            <td>
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal"
                        data-bs-target="#staticBackdropDelete"   th:onclick="'showInfo('+${contract.id}+')'">
                    List of attach service
                </button>
            </td>
        </tr>
        </tbody>
    </table>
    <!-- Modal -->
    <div class="modal fade" id="staticBackdropDelete" data-bs-backdrop="static"
         data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <form method="post" id="formDelete" >
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="staticBackdropLabel">Attach service</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <table class="table-bordered table" >
                            <thead class="btn-success text-center text-light">
                            <tr>
                                <td>No</td>
                                <td>Name</td>
                                <td>Cost</td>
                                <td>Unit</td>
                                <td>Status</td>
                            </tr>
                            </thead>
                            <tbody id="showAttachFacilityId">
                            </tbody>
                        </table>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
<!--                        <button type="submit" class="btn btn-primary">YES</button>-->
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<!--Page split-->
<nav aria-label="..." class="d-flex justify-content-center">
    <ul class="pagination">
        <li class="page-item">
            <a class="page-link" th:href="@{/contracts/list(page=${contractList.number - 1})}" id="aPrevious">Previous</a>
        </li>
        <li class="page-item disabled">
            <a class="page-link" id="pageNumber">
                <span th:text="${contractList.number + 1}"></span>
                /
                <span th:text="${contractList.totalPages}"></span>
            </a>
        </li>
        <li class="page-item">
            <a class="page-link" th:href="@{/contracts/list(page=${contractList.number + 1} )}" id="aNext">Next</a>
        </li>
    </ul>
</nav>
<!--Page split-->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script>
   function showInfo(id){
       $.ajax({
           type: "GET",
           url: "http://localhost:8080/restContracts/list/" + id,
           success: function (contractDetails) {
               console.log(contractDetails)
               let htmlStr = '';

               for (let i = 0; i < contractDetails.length; i++) {
                   htmlStr += `<tr>
                        <td>${i + 1}</td>
                        <td>${contractDetails[i].name}</td>
                        <td>${contractDetails[i].cost}</td>
                        <td>${contractDetails[i].unit}</td>
                        <td>${contractDetails[i].statusAttach}</td>
                    </tr>`;
               }
               $("#showAttachFacilityId").html(htmlStr);
           },
           error: function (resultError) {
           }
       });
       document.getElementById("deleteId").value = id;
   }
</script>
<footer th:replace="home :: footer"></footer>
<script src="/js/bootstrap.js"></script>
</body>
</html>