<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form th:object="${userDto}" action="/save" method="post" >
<table>
    <tr>
        <td> First Name</td>
        <td><input th:field="*{firstName}"></td>
        <td th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}">First Name Errors</td>
    </tr>
    <tr>
        <td> Last Name</td>
        <td><input th:field="*{lastName}"></td>
        <td th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}">Last Name Errors</td>
    </tr>
    <tr>
        <td> Phone Number </td>
        <td><input th:field="*{phoneNumb}"></td>
        <td th:if="${#fields.hasErrors('phoneNumb')}" th:errors="*{phoneNumb}">First Name Errors</td>
    </tr>
    <tr>
        <td> Age</td>
        <td><input th:field="*{age}"></td>
        <td th:if="${#fields.hasErrors('age')}" th:errors="*{age}">First Name Errors</td>
    </tr>
    <tr>
        <td> Email </td>
        <td><input th:field="*{email}"></td>
        <td th:if="${#fields.hasErrors('email')}" th:errors="*{email}">First Name Errors</td>
    </tr>
    <tr>
        <td><button type="submit">Submit</button></td>
    </tr>
</table>
</form>

</body>
</html>